html,body{height: 100%; background: #f8f9f9; font-family: '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53','\5B8B\4F53';}
body{background: #f2f2f2;}
input{font-family: '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53','\5B8B\4F53'; -webkit-appearance: none;}
input,select,textarea{padding: 0;font: inherit;outline: none;border: 0;border-radius: 0;-webkit-tap-highlight-color: transparent;appearance: none;-webkit-appearance: none;background: transparent;line-height: normal;box-sizing: border-box;-webkit-writing-mode: horizontal-tb;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important; margin: 0;}
.flex{display: -webkit-box;}
.flexv{display: -webkit-box; -webkit-box-orient: vertical;}  /*垂直排列*/
.flexitem{display: -webkit-box; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}
.flexitemv{display: -webkit-box; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; -webkit-box-orient: vertical;}
.centerv{-webkit-box-align: center;}  /*垂直居中*/
.centerh{-webkit-box-pack: center;}  /*水平居中*/
.center{-webkit-box-align: center; -webkit-box-pack: center;}
.endh{-webkit-box-pack: end;}  /*水平向右*/
.endv{-webkit-box-align: end;} /*垂直向下*/
.end{-webkit-box-align: end; -webkit-box-pack: end;}
.between{display:flex;justify-content:space-between;align-items: center;} /*两端对齐*/
.around{display:flex;justify-content:space-around;align-items: center;}  /*等间距*/
.fwrap{display: flex;flex-wrap:wrap;}  /*换行*/
/*************************** 动画 *****************************/
@-webkit-keyframes zoomIn {0% {opacity: 0;-webkit-transform: scale3d(.3,.3,.3);transform: scale3d(.3,.3,.3)}50% {opacity: 1}}
@keyframes zoomIn { 0% {opacity: 0; -webkit-transform: scale3d(.3,.3,.3); transform: scale3d(.3,.3,.3)} 50%{opacity:1}}
.wrap{height:100%;}
.fitimg{width: 100%;height:100%;}
.mainbox{position: relative;overflow-x: hidden;overflow-y: auto;-webkit-overflow-scrolling: touch;}
/********************** 头部 ********************************/
.head{height: 5rem;padding:0 1.4rem;background: #393a3e;}
.head a{color:#fff;font-size: 2.5rem;}
.head h1{font-size: 1.5rem;font-weight: lighter;color: #fff;}
/******** 底部 **********/
.tabbars{height: 5rem;background: -webkit-linear-gradient(-140deg, #f95e48, #f7403c)}
.tabbars a{color:#fff;}
.tabbars .middle .user{position: relative; margin-top: -2rem;z-index: 2;}
.tabbars .middle .user .userimg{width: 4rem;height:4rem;border: 1px solid #fa5e4a;border-radius: 50%;overflow: hidden;}
.tabbars em{font-size: 1.2rem;height:1.5rem;}
.tabbars .item{width:7.5rem;}
.tabbars .item i{width: 3rem;height:2.4rem; font-size: 2rem;}
.tabbars .item .fk{position: relative}
.tabbars .item i.fk:after{content: '';position: absolute;top:0;right:0;width: 0.6rem;height:0.6rem;border-radius:50%; background: #fff;}
/****************************** 首页 ********************************/
#home{background: #fff;}
#home .nav{padding: 0 14px;}
#home .nav .item{height: 4rem;color:#515151;border-bottom: 2px solid transparent;}
#home .nav .item span{height: 2rem;font-size: 1.2rem;}
#home .nav .more{width:3rem;font-size: 1.5rem;}
#home .nav .item.current{border-bottom-color:#f73c39;color:#f73c39;}
#home .banner{width:100%; height:14rem;}
#home .banner .swiper-container{width:100%;height:14rem;}
#home .search{padding: 10px 8px;border-bottom: 1px solid #f2f2f2;}
#home .search .home-sea{width:90%;height:3rem;background: #f4f4f4;padding: 0 10px;border-radius: 60px;}
#home .search .home-sea input::-webkit-input-placeholder {color:#959595;}
#home .search .home-sea .sea-text{height: 100%;text-indent: 1rem;font-size: 1rem;}
#home .search .home-sea i{width: 1px;height:50%;background: #a6a6a6;}
#home .search .home-sea span{width: 4rem;height:2rem;color:#999;font-size: 1.5rem;}
#home .listbox{padding:0 12px;}
#home .listbox .lists{border-bottom: 1px solid #f2f2f2;padding-top: 12px;padding-bottom: 10px;}
#home .listbox .lists:last-child{border-bottom: none;}
#home .listbox .lists .img{width:8rem;height:6rem;position:relative;}
#home .listbox .lists .img i{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:3rem;color:#fff;}
#home .listbox .lists .cont{height: 6rem;padding-left:10px;}
#home .listbox .lists .cont h1{font-size: 1.4rem;color:#424242;overflow:hidden;font-weight:normal;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
#home .listbox .lists .cont .base{padding:0.2rem 0;color:#969696;font-size: 1.2rem;}
#home .listbox .lists .cont .base span{margin-right:1rem;}
#home .listbox .lists .cont .base span i{font-size:1.6rem;}
/************* 弹窗 *************/
.alert{position: fixed;top:0;left:0;width: 100%;bottom: 0;overflow: hidden;z-index: 20;display: none;}
.mask{position: absolute;top:0;left:0;width:100%;height:100%;background: rgba(0,0,0,.5);}
.alert .content{position: absolute;top:22%;left:14%; width: 60%;background: #fff;color: #333;padding: 10px 20px;border-radius: 6px;}
.alert .content.trans{animation: zoomIn 0.3s ease;}
.alert .content .cuo{width: 2.5rem;height:2.5rem;position: absolute;top: -0.5rem;right: -0.6rem;font-size: 2.5rem;color:#c5c5c5;}
.alert .content .title{height: 3rem; font-size: 1.5rem;font-weight: lighter;color:#454545;}
.alert .content .tis{height: 2rem;font-size: 1.2rem;color:#636363;}
.alert .content .input{height: 3rem;margin-top: 16px;padding:0 14px; background: #f2f2f2;border-radius: 30px;font-size: 1.2rem;}
.alert .content .input span{width:5rem; height: 100%;color:#9f9f9f}
.alert .content .input input{height: 100%;}
.alert .content .input .cenk{width: 10rem;}
.alert .content .input .smtxt{width: 1px;height:50%;background: #a6a6a6;}
.alert .content .input .bls{width: 2.5rem;height: 100%;font-size: 1.5rem;}
.alert .content .button{height: 3rem;margin-top:30px;font-size: 1.4rem; border-radius: 30px; color:#fff; background: -webkit-linear-gradient(-140deg, #f95e48, #f7403c)}
/******************************* 品牌 ************************************/
#brand.dialog_box {width: 100%;height: 100%;background: #fff;position: fixed;top:0;left:0;z-index:50; overflow-y: auto; transform: translateX(100%);transition: transform 0.3s linear;}
#brand.dialog_box .company{position: relative;height:100%;overflow-y:auto;}
#brand.dialog_box .company li>p{background: #edeeed;color: #b3b3b3;padding-left: 10px;font-size: 1.5rem;}
#brand.dialog_box .company li>div{line-height: 40px;border-bottom: 1px solid #f5f5f5;padding-left: 10px;font-size: 1.5rem;}
#brand.dialog_box .lettrt{position: fixed;top:6.2rem;right:0;height:88%;width:30px;overflow-y: auto}
#brand.dialog_box .lettrt li>a{display: block;color:#84c2b2;text-align: center;font-size: 1.39rem;}
#brand.show{transform: translateX(0);}
/******************************* 留言管理 **********************************/
#mesag .lists{padding: 10px;background: #fff;margin-bottom: 1rem;}
#mesag .lists .top{padding:10px;}
#mesag .lists .top .headimg{width:5rem;height:5rem;border-radius: 50%;overflow:hidden;}
#mesag .lists .top .info{padding-left: 10px;width: 13rem;}
#mesag .lists .top .info p{height: 2rem;font-size: 1.5rem;color:#404040;}
#mesag .lists .top .endh{font-size: 1.2rem;color:#818181;}
#mesag .lists a{width: 20rem;height:4rem;border-radius:70px;margin-top: 1rem;font-size: 1.6rem;color:#fdebea;background: -webkit-linear-gradient(#f95e48, #f7403c)}
/******************************** 基本信息 **********************************/
#basic .users{margin-top: 10px;padding: 0 10px;background: #fff;}
#basic .user .item{margin: 6px 0;display: flex;justify-content:space-between;position: relative;}
#basic .user .item span{height: 3rem; font-size: 1.4rem;color: #333;}
#basic .user .item .right{color:#6e6e6e;font-size: 1.4rem;}
#basic .user .portrait{border-bottom: 1px solid #e9e9e9;}
#basic .user .portrait span{width:5rem;height:5rem;}
#basic .user .portrait .right{width: 6rem;height: 5rem;}
#basic .user .portrait .right .userimg{width: 4rem;height:4rem;border-radius: 50%;overflow: hidden;}
#basic .user .item #choiseimg{opacity: 0;padding-right: 0;}
#basic .user .item input{position:absolute;top:0;left:0;height:100%;width:100%;text-align: right;padding-right: 2rem;font-size: 1.4rem;}
#basic .user .right i{width: 2rem;height: 2rem;font-size: 2rem;}
#basic .user .name{border-bottom: 1px solid #e9e9e9;}
#basic .user .brand{border-bottom: 1px solid #e9e9e9;}
#basic .user .qrcode .userimg{width: 4rem;height:4rem;}
#basic .user .qrcode #qrcodeimg{opacity: 0;}
#basic a.clook{margin:1rem;color:#f6504d;display: inline-block;font-size: 1.4rem;}
#basic .user .button{margin: 24px 10px;}
#basic .user .button a{height: 4rem;background: -webkit-linear-gradient(#f95e48, #f7403c);color:#fdebea;border-radius: 6rem;font-size: 1.8rem;}
#basic .bottom{height:5rem;font-size: 1.2rem;}
/************************************ 访客记录 ********************************/
#visitor .box{padding:1.2rem;}
#visitor .mainbox .listbox {padding:1rem; background: #fff;border-radius: 6px;margin-bottom: 1rem;}
#visitor .mainbox .listbox .lists .img{width:8rem;height:7rem;}
#visitor .mainbox .listbox .lists .cont{height: 7rem;margin-left:10px;}
#visitor .mainbox .listbox .lists .cont a{font-size: 1.5rem;color:#424242;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 2}
#visitor .mainbox .listbox .lists .cont .base{display: flex;justify-content: space-between;color:#969696;font-size: 1.2rem;padding:0.6rem 0;}
#visitor .mainbox .listbox .lists .cont .base span:last-child{color:#f6504d;}
#visitor .mainbox .details{margin-top: 1rem;padding-top:1rem; border-top: 1px solid #f2f2f2;}
#visitor .mainbox .details .imgbox{max-width: 20rem; overflow: hidden;}
#visitor .mainbox .details .userimg{width:3rem;height:3rem;border-radius:50%;overflow: hidden;margin-right: 1rem; font-size: 2.5rem;}
#visitor .mainbox .lock a{width:7rem;height: 2.5rem;font-size:1.2rem;background: -webkit-linear-gradient(#f95e48, #f7403c);color:#fdebea;border-radius: 6rem;}
/************************************* 个人中心 *******************************/
#focus .sub{width:100%; padding: 3rem 0 0;background:url("../image/focus.jpg") no-repeat;background-size:100% 100%;}
#focus .sub .userbox{padding-left:1rem;}
#focus .sub .userimg{width: 6rem;height:6rem;border:1px solid #fff;border-radius:50%;overflow:hidden;}
#focus .sub .info{margin-left:1rem;color:#fff;}
#focus .sub .name h2{height:3rem;font-weight:lighter;font-size:1.8rem;color:#000;}
#focus .sub .name .amend{margin-left:1rem;font-size:2rem;color:#f95c49;}
#focus .sub p{height:2rem;font-size: 1.3rem;}
#focus .userbox>a.renew{width:7rem;height:2.5rem;border-top-left-radius:5rem;border-bottom-left-radius:5rem;background:#f95c49;font-size:1.3rem;color:#fff;}
#focus .front{width:100%;padding: 4rem 0 1rem; }
#focus .front .myfront{color:#333;}
#focus .front .myfront em{height: 3rem;font-size: 2rem;}
#focus .front .myfront span{height: 2rem;font-size: 1.3rem;}
#focus .front .myfront i{width: 2rem;height:2rem;font-size: 2rem;}
#focus .front .line{width: 1px;height: 4rem;margin-top: 0.5rem; background: #cacaca;}
#focus .flipbox{height:3rem;overflow:hidden;position:relative;}
#focus .flipbox .bor{position:absolute;bottom:-3rem;left:1rem;font-size:1.2rem;color:#f58d84;}
#focus .flipbox .flip{padding:0.4rem 0;}
#focus .flipbox .flip i{font-size:2rem;}
#focus .func{background: #fff;color:#393939;}
#focus .func a{height:4rem;font-size: 1.3rem;border-bottom:1px solid #f2f2f2;}
#focus .func a:last-child{border-bottom:none;}
#focus .func a i{margin: 0 1rem;width: 3rem;height:3rem;font-size:2rem;border-radius: 6px;color:#fff;}
#focus .picture{margin-top:0.5rem;background:#fff;}
#focus .picture .title{padding:0 1rem;height:4rem;border-bottom:1px solid #f2f2f2;font-size:1.2rem;}
#focus .picture .tex{position:relative;margin-left:1rem;}
#focus .picture .tex:before{content: '';width:2px;height:100%;background:#fe776e;position:absolute;top:0;left:-1rem;}
#focus .picture .more i{font-size:1.6rem;}
#focus .picture .imgbox{margin:1rem 1rem 1rem 0;font-size:0;overflow:hidden;height: 11rem;}
#focus .picture .imgbox img{width:21.4%;height:11rem;padding-left:1rem;}
#focus .hint {position: fixed;top:0;left:0;width: 100%;bottom: 0;overflow: hidden;z-index: 20;display: none;}
#focus .hint .content.trans{animation: zoomIn 0.3s ease;}
#focus .hint .content{position: absolute;top:22rem;left:4rem; width: 66%;background: #fff;color: #333;padding:10px;border-radius: 6px;}
#focus .hint .content div{padding:3rem 0;height: 3rem;font-size: 1.4rem;color:#3b3b3b;}
#focus .hint .content a{height: 3rem;background: -webkit-linear-gradient(#f95e48, #f7403c);color:#fdebea;border-radius: 6rem;font-size: 1.4rem;}

/************************************* 图片列表 *******************************/
#more .tex-t{height:4rem;overflow-x:auto;background:#fff;}
#more .tex-t::-webkit-scrollbar{display:none;}
#more .tex-t a{font-size:1.3rem;margin:0 1rem;border-bottom:2px solid transparent;}
#more .tex-t a.current{border-bottom-color:#f73c39;color:#f73c39;}
#more .listbox{padding-top:1rem;}
#more .listbox .imgbox{margin:0 0 1rem 1rem;width:29%;background:#fff;}
#more .listbox .imgbox .img{width:100%;height:15rem;font-size:0;}
#more .listbox .imgbox .tit{height:2rem;font-size:1.3rem;overflow:hidden;-webkit-line-clamp:1;}

/************************************* 增员海报 *******************************/
#posters .edit{padding:1rem;border-bottom:1px solid #bbb;font-size:1.4rem;color:#282828;}
#posters .edit i{font-size:2rem;}
#posters .posterbox p{padding:.5rem 0;font-size:1.4rem;color:red;}
#posters .poster i{width:4.5rem;font-size:2rem;color:#999;}
#posters .poster i:last-child{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
#posters .share-btn{width:85%;height:4rem;margin:1rem auto;background:#f73c39;font-size:1.6rem;color:#fff;border-radius:.5rem;}
#posters .listbox{background:#fff;}
#posters .listbox .title{padding:0 1rem;height:4rem;font-size:1.2rem;color:#666;}
#posters .listbox .title .change i{font-size:2rem;color:#ffb502;}
#posters .listbox .list{padding-top:1rem;}
#posters .listbox .list .item{width:29%;margin:0 0 1rem 1rem;}
#posters .listbox .list .item .link{height:16rem;font-size:0;border-bottom:1px solid #eee;}
#posters .listbox .list .item .name{height:3rem;font-size:1.4rem;}
#posters .user{width:4rem;height:4rem;}
#posters .qrcode{width:5rem;height:5rem;}
#posters .hidden{display:none;}

/************************************* 推广中心 *******************************/
#expand .sub{width:100%; padding:4rem 0 0;background:url("../image/focus.jpg") no-repeat;background-size: 100%; color:#fefaf9; }
#expand .sub .num{height:4rem;font-size:3rem;}
#expand .sub h2.income{height: 3rem;font-weight: lighter;font-size: 1.8rem;}
#expand .front{width: 100%; display: flex;justify-content:space-around;padding: 4rem 0 1rem; }
#expand .front .myfront{color:#333;}
#expand .front .myfront em{height: 3rem;font-size: 2rem;}
#expand .front .myfront span{height: 2rem;font-size: 1.3rem;}
#expand .func{margin-top: 1.5rem;background: #fff;color:#393939;}
#expand .func a{height:4rem;font-size: 1.3rem;border-bottom:1px solid #f2f2f2;}
#expand .func a:last-child{border-bottom:none;}
#expand .func a i{margin: 0 1rem;width: 3rem;height:3rem;font-size:2rem;border-radius: 6px;color:#fff;}
/****************************** 申请提现 *****************************/
#cash .cashes{margin: 2rem; background: #fff; border: 1px solid #f2f2f2;}
#cash .cashes .title{position: relative; height: 4.6rem; border-bottom: 2px dotted #f2f2f2; padding: 0 1rem; font-size: 1.6rem;}
#cash .cashes .title:before,#cash .cashes .title:after{content: ''; position: absolute; left: -0.6rem; bottom: -0.6rem; width: 1rem; height: 1rem; border-style: solid; border-width: 1px; border-color: transparent #eee #eee transparent; transform: rotate(-45deg); background: #f2f2f2; border-radius: 50%;}
#cash .cashes .title:after{left: initial; right: -0.6rem; border-color: #eee transparent transparent #eee;}
#cash .cashes .bank{position: relative; margin: 2rem; padding-right: 3rem;}
#cash .cashes .bank div{padding: 2px 0;}
#cash .cashes .bank div span{color: #333; font-size: 1.6rem;}
#cash .cashes .bank div em{font-size: 1.4rem; color: #999;}
#cash .cashes .bank a{position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 3.2rem; color: #999;}
#cash .cashes h2{font-weight: normal; font-size: 3.2rem; padding-top: 1rem;}
#cash .cashes p{font-size: 1.3rem; color: #999; padding-bottom: 2rem;}
#cash .cashes .getcash{width: 16rem; height: 4rem; margin: 2rem auto; background: #28a7e1; color: #fff; border-radius: 5rem;font-size:1.6rem;}
#cash .cashes .disable{background: #eee;}
#cash .tips{position: relative; height: 3rem;}
#cash .tips:after{content: ''; position: absolute; top: 50%; left: 2rem; right: 2rem; height: 1px; background: #e1e1e1;}
#cash .tips span{position: relative; z-index: 6; font-size: 1.3rem; color: #888; background: #f2f2f2; padding: 0 1rem;}
#cash .tip{padding: 1rem 2rem; font-size: 1.3rem; color: #999;}
#cash .tip p{margin-bottom: 0.8rem;}
/******************************** 绑定账户 *****************************/
#account .tips{padding: 1rem 1rem 0; font-size: 1.4rem; color: #999;}
#account .block{margin-top: 1rem; background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
#account .block .row{position: relative; padding: 0.5rem; border-bottom: 1px solid #f5f5f5; margin-left: 1rem;}
#account .block .row:last-child{border-bottom: none;}
#account .block .row .title{width: 8rem;font-size:1.6rem;}
#account .block .row select{padding: 1rem; height: 4rem; border: none;font-size:1.6rem; color: #999;}
#account .block .row .input{text-align: right; height: 4rem; padding: 1rem; border: none; background: none;font-size:1.6rem;}
#account .block .row input.normal{text-align: left;}
#account .block .row i{width: 2rem; font-size: 2.2rem; color: #888;}
#account .submit{width: 20rem; height: 4.6rem; border-radius: 5rem; background: #28a7e1; color: #fff;font-size:1.6rem; margin: 2rem auto 1rem;}
#account .block .row a.getcode{color: #27e;font-size:1.6rem;}
#account .block .row a.disable{color: #999;}
#account .hide{display: none;}
/******************************** 提现记录 *****************************/
#record #none{min-height: 100px;}
#record #none.hide{display: none;}
#record #none i{font-size: 3rem;color: #ccc;}
#record #none p{font-size: 1.5rem; color: #999;}
#record .date{background: #fff;}
#record .nape{padding:1rem 2rem;border-bottom:1px solid #c9c9c9;}
#record .nape h2{height:2.5rem;font-size:1.5rem;}
#record .nape p{height:2rem;font-size: 1.2rem;color: #969696;}
#record .nape p.state{color: #ffd541;font-weight: bold;}

/**************************************** 我的头条 *****************************/
#headlines .listbox{padding:0 12px;background: #fff;}
#headlines .listbox .lists{border-bottom: 1px solid #f2f2f2;padding-top: 12px;padding-bottom: 10px;}
#headlines .listbox .lists:last-child{border-bottom: none;}
#headlines .listbox .lists .img{width:8rem;height:6rem;}
#headlines .listbox .lists .cont{height: 6rem;padding-left:10px;}
#headlines .listbox .lists .cont a{font-size: 1.5rem;color:#424242;overflow: hidden;-webkit-box-orient: vertical; -webkit-line-clamp: 2;}
#headlines .listbox .lists .cont .base{display: flex;justify-content: space-between;color:#969696;font-size: 1.2rem;padding:0.2rem 0;}
#headlines .mainbox .more{padding: 2rem 0;color:#7f7f7f;position: relative;font-size: 1rem;}
#headlines .mainbox .more:before{content: "";width:12rem;height:1px;background: -webkit-linear-gradient(0deg, #f2f2f2, #dadada);position: absolute;top:2.5rem;left: 0.5rem; }
#headlines .mainbox .more:after{content: "";width:12rem;height:1px;background: -webkit-linear-gradient(-180deg, #f2f2f2, #dadada);position: absolute;top:2.5rem;right: 0.5rem; }
/************************************** 阅读与分享 ******************************/
#read .box{padding: 0 1.5rem;}
#read .title{margin: 1rem 2rem;height:3rem; border-radius: 4rem;overflow: hidden;color:#696969; background: #fff;}
#read .title .read,.share{width: 50%;height:100%;font-size: 1.5rem;}
#read .title .elect{background:#f7463e;color:#fef6f3; }
#read .listbox{background: #fff;border-radius: 6px;margin-top: 1.5rem;}
#read .listbox .top{padding:4px 10px;border-bottom: 1px solid #c7c7c7;}
#read .listbox .top .headimg{width:3rem;height:3rem;border-radius: 50%;overflow:hidden;}
#read .listbox .top .info{padding-left: 10px;}
#read .listbox .top .info p:last-child{color:#bbb;}
#read .listbox .top .info p{font-size: 1.2rem;color:#404040;}
#read .listbox .top .center{height:3rem;font-size: 1.2rem;color:#f73b38;}
#read .listbox .lists{padding:12px;}
#read .listbox .lists .img{width:8rem;height:6rem;}
#read .listbox .lists .cont{height: 6rem;padding-left:10px;}
#read .listbox .lists .cont a{font-size: 1.3rem;color:#424242;margin: 1.2rem 0;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
/************************************* 阅读分享详情 ************************************/
#detail .listbox .lists{padding:1.3rem;margin-bottom:0.5rem;background: #fff;}
#detail .listbox .lists .img{width:8rem;height:7rem;}
#detail .listbox .lists .cont{height: 7rem;padding-left:10px;}
#detail .listbox .lists .cont a{font-size: 1.5rem;color:#424242;overflow: hidden;-webkit-box-orient: vertical; -webkit-line-clamp: 2;}
#detail .listbox .lists .cont .base{display: flex;justify-content: space-between;color:#969696;font-size: 1.2rem;padding: 0.7rem 0;}
#detail .listbox .particulars{padding:0 1.5rem;background: #fff;}
#detail .listbox .bottom{padding:1rem 0;border-bottom: 1px solid #c9c9c9;}
#detail .listbox .bottom:last-child{border-bottom: none;}
#detail .listbox .bottom .headimg{width:4rem;height:4rem;border-radius: 50%;overflow:hidden;}
#detail .listbox .bottom .info{padding-left: 10px;}
#detail .listbox .bottom .info p:first-child {color:#333;}
#detail .listbox .bottom p{font-size: 1.2rem;color:#969696;padding: 0.5rem 0;}
#detail .listbox .bottom .right a{width:7rem; height:2.5rem;border-radius: 2rem; font-size: 1.4rem;color:#fdebea;background: -webkit-linear-gradient(#f95e48, #f7403c);}
/**************************************** 搜索 **************************************/
#seek .search{padding: 1.4rem 0.8rem;background:#fff; margin-bottom: 0.5rem;}
#seek .search .home-sea{width:90%;height:3rem;background: #f4f4f4;padding: 0 10px;border-radius: 60px;}
#seek .search .home-sea input::-webkit-input-placeholder {color:#959595;}
#seek .search .home-sea .sea-text{height: 100%;text-indent: 1rem;font-size: 1.2rem;}
#seek .search .home-sea span{height:1.5rem;color:#999;font-size: 1.5rem;display: none;}
#seek .listbox{padding:0 12px;background: #fff;}
#seek .listbox .lists{border-bottom: 1px solid #f2f2f2;padding-top: 12px;padding-bottom: 10px;}
#seek .listbox .lists:last-child{border-bottom: none;}
#seek .listbox .lists .img{width:8rem;height:7rem;}
#seek .listbox .lists .cont{height: 7rem;padding-left:10px;}
#seek .listbox .lists .cont a{font-size: 1.5rem;color:#424242;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
#seek .listbox .lists .cont .base{display: flex;justify-content: space-between;color:#969696;font-size: 1.2rem;padding:0.6rem 0;}
#seek .result p{padding: 2rem 0;color:#7f7f7f;position: relative;font-size: 1.2rem;}
#seek .result p:before{content: "";width:11rem;height:1px;background: -webkit-linear-gradient(0deg, #f2f2f2, #dadada);position: absolute;top:2.5rem;left: 0.5rem; }
#seek .result p:after{content: "";width:11rem;height:1px;background: -webkit-linear-gradient(-180deg, #f2f2f2, #dadada);position: absolute;top:2.5rem;right: 0.5rem; }
#seek .void p{color:#6b6b6b;font-size: 1.2rem;}
/***************************************** 文章 ***************************************/
#article{background: #fff;}
#article .contents{padding: 1.5rem;}
#article .title.max{max-height: 48rem;overflow: hidden;}
#article .title h2{font-size: 1.8rem;color:#333;}
#article .title .subhead{padding: 1rem 0;font-size: 1.2rem;color:#6d6d6d;}
#article .title .subhead .name{padding: 0 1rem;}
#article .title .subhead .site{color:#4ea1d0;}
#article .title .box{ font-size:1.5rem;color:#333;}
#article .title .img{height:8rem;padding: 1rem 0;text-indent: 0;}
#article .unfold{color:#4ea1d0;font-size: 1.4rem;}
#article .unfold i{font-size: 1.4rem;}
#article .user{padding: 2.5rem 2rem;position: relative;margin-top: 3rem;font-size: 1.4rem;}
#article .user .userimg{width:4rem;height:4rem;border: 1px solid #f83c39; border-radius: 50%;overflow: hidden;position: absolute;top: -2rem;left: 12.5rem;z-index: 5;}
#article .user p{height: 2rem;}
#article .user .mesg{padding: 1rem 0;}
#article .user .mesg span{padding-left: 1rem;}
#article .user .button{width: 84%; display: flex;justify-content: space-between;}
#article .user .button a{width: 10rem;height: 3rem;border-radius: 5rem;color:#fff;background: -webkit-linear-gradient(#f95e48, #f7403c);}
#article .user .button a i{width:2rem;height:2rem;font-size:1.5rem;}
#article .user .row{position: absolute;top:0;left:2rem; right:2rem;height: 2px; background: -webkit-linear-gradient(left, #fff, #f83c39, #fff);}
#article .user .col{position: absolute;top:1rem;left:0; bottom:2rem;width: 2px; background: -webkit-linear-gradient(#fff, #f83c39, #fff);}
#article .user .row.last{top:initial;bottom: 0;}
#article .user .col.last{left:initial;right: 0;}
#article .contents .qrcode{margin-top: 2rem;padding: 1rem 0; position: relative; background: url("../image/article_bj.png") no-repeat 50% 10%;background-size: 110%;}
#article .contents .qrcode .img{width:10rem;height:10rem;padding: 4px;position:relative;}
#article .contents .qrcode .img #put{width:100%;height:100%;opacity: 0;position:absolute;top: 0;left: 0;}
#article .contents .qrcode p{padding:1rem 0;font-size: 1.2rem;}
#article .contents .qrcode .service{width:4rem;height:4rem;background:#4badec;color:#fff;border-radius: 50%;position: absolute;top:4rem;right:0;font-size: 3rem; }
#article .text{padding-bottom: 6rem;}
#article .text p{padding: 0.2rem 0;font-size: 1.2rem;color:#333;}
#article .text p a{color:#4badec;}
#article .cut{width: 74%; height: 4rem;margin:0 3rem 1rem; border-radius: 5rem;font-size: 1.8rem; color:#fff; background: -webkit-linear-gradient(#f95e48, #f7403c);position: fixed;bottom: 0;left: 1.4rem;z-index:6;}
/*提示*/
#article .hint {position: fixed;top:0;left:0;width: 100%;bottom: 0;overflow: hidden;z-index: 20;display: none;}
#article .hint .content.trans{animation: zoomIn 0.3s ease;}
#article .hint .content{width: 66%; background: #fff;border-radius: 1rem;position: absolute;top: 26%;left:17%;}
#article .hint .content h3{color: #DD726B;font-size: 1.5rem;padding: 1rem 0;}
#article .hint .content .qrcode{width: 16rem;margin: 0 auto;}
#article .hint .content p{padding: 1rem 0;font-size: 1.2rem;color:#363636;}
/************************************** 爆单头条 ****************************************/
#blasting .img{height: 24rem;padding: 2rem 0;}
#blasting .bottom{margin: 3rem 2rem 0;font-weight: bold;border:1px solid #fb5341;position: relative;border-radius:.5rem;color:#f00;}
#blasting .bottom i{ width: 5rem;height: 2rem;background: #f2f2f2;position: absolute;top: -1rem;left: 50%;margin-left:-2rem;font-size: 2rem;}
#blasting .bottom .qrcode{width:12rem; height:12rem;padding: 6px;background: #fff;margin-bottom: 1rem;}
#blasting .bottom p{padding: 0.2rem 0; font-size: 1.8rem;font-weight: normal;}
/*************************************** 爆单帮助 ****************************************/
#shelp{background: #fff;}
#shelp .mainbox .titles{margin:1rem 1.5rem;border-bottom: 1px solid #d9d9d9;}
#shelp .mainbox .titles h2{padding: 0.5rem 0;font-size: 1.8rem;}
#shelp .mainbox .titles .detail{padding: 1rem 0;font-size: 1.2rem;}
#shelp .mainbox .titles .detail span{padding-right: 1rem;}
#shelp .bzimg{height: 87rem;padding: 2rem 0;}
/*************************************** 开通功能 **************************************/
#open{background: #fff;}
#open .state{padding:1rem;font-size: 1.8rem;background: #fff;}
#open .state span{color:#f74543;}
#open .bjimg{height: 118rem;position: relative; background: url("../image/dredge.jpg") no-repeat;background-size: 100%;}
#open .bjimg .userimg{width: 5.5rem;height: 5.5rem;border-radius: 0.6rem;position: absolute;top:2.5%;left:42%;overflow: hidden; }
#open .bjimg .option{width: 84%; margin: 1rem 2.5rem;background: #fff;border-radius: 1rem; position: absolute;top: 100rem;left: 0;font-size: 1.2rem;}
#open .bjimg .option .discount{margin: 1rem;border-radius: 1rem;position: relative; border: 1px dashed #f8443f;}
#open .bjimg .option .sale{padding: 1rem 2rem;border-bottom: 1px dashed #f8443f;position: relative;overflow: hidden;}
#open .bjimg .option .sale .cornu{width: 5rem; height:1.3rem;background:#f7403c;color:#fff;transform:rotate(-39deg);font-size: 0.5rem;position: absolute;top: 0.4rem;left:-1.2rem; }
#open .bjimg .option .price{padding: 0.5rem 0;}
#open .bjimg .option span{color:#000;font-weight: bolder;font-size:1.3rem;}
#open .bjimg .option em{color:#f8443f;padding-left: 1rem;font-size: 1.8rem;}
#open .bjimg .option i{font-size: 1.2rem;text-decoration:line-through;color:#999;}
#open .bjimg .option a{width: 7rem;height: 3rem;background: -webkit-linear-gradient(#f95e48, #f7403c);color:#fdebea;border-radius: 5rem; margin-top: 0.6rem;font-size: 1.4rem;}
#open .bjimg .option .month{padding: 1rem 2rem;}
#open .once{padding: 1rem 0;width:100%; position: fixed;bottom:0rem;}
#open .once a{width: 80%;height: 3.5rem;background: -webkit-linear-gradient(#f95e48, #f7403c);color:#fdebea;border-radius: 5rem;font-size: 1.8rem;}
/*弹框*/
#open .hint {position: fixed;top:0;left:0;width: 100%;bottom: 0;overflow: hidden;z-index: 20;display: none;}
#open .hint .content.trans{animation: zoomIn 0.3s ease;}
#open .hint .content{width: 74%;background: #fff;border-radius: 1rem;position: absolute;top:20%;left: 13%;}
#open .hint .content h3{padding: 1rem 0;font-size: 1.5rem;color:#f73d3c;}
#open .hint .content .img{height:18rem;}
#open .hint .content .indate{padding: 0.5rem 0;font-size: 1.2rem;color:#515151;}
#open .hint .content .button{padding: 1rem;}
#open .hint .content .button a{height: 4rem;background: -webkit-linear-gradient(#f95e48, #f7403c);color:#fdebea;border-radius: 5rem; margin-top: 0.6rem;font-size: 1.3rem;}
/************************************* 人脉分析 ****************************************/
#contact{background: #fff;}
#contact .sub{padding: 2.5rem 0; background: url(../image/focus.jpg) no-repeat; background-size: 100%;color:#f8f2f3;}
#contact .sub .userimg{width: 6rem;height: 6rem;border-radius: 50%;overflow: hidden;}
#contact .sub .name{height: 3rem;font-size: 1.8rem;font-weight: initial;}
#contact .sub p{padding-bottom: 0.4rem;font-size: 1.4rem;}
#contact .sub p .color{color:#fed729;}
#contact .text{width:24rem;height:8rem;border:1px solid #fb5341; border-radius: .5rem;font-size: 1.5rem; color:#fb5341;position:relative;}
#contact .text i{width:5rem;height:2rem;background:#fff;position:absolute;top: -1rem;left:9rem;font-size: 2rem;}
#contact .relation{padding: 3rem 0;}
#contact .relation .img{width:6rem;height:6rem;border-radius: 50%;overflow: hidden;}
#contact .relation i{width:6rem;height:6rem;color:#fb5341;font-size:3rem;}
/********************************** 咨询详情 **********************************************/
#details{height: 100%; background:#fff;}
#details header{height: 5.345rem;background: #f20a46;color: #fefefe;padding: 0 0 0 20px;}
#details header a{font-size: 2rem; color: #fff;}
#details header h1{margin-left: -40px;font-size: 1.8rem;font-weight: lighter}
#details .info{padding: 20px;color: #333;}
#details .info .p1{border-bottom: 1px solid #ddd;padding: 12px 0;}
#details .info .p1 span{font-size: 1.5rem;}
#details .info .p1 .hint{width: 4.86rem;}
#details .dredge{padding: 10px;}
#details .dredge .button{width:90%;height: 4rem;font-size:1.8rem;background: #f20a46;border-radius: 5px;color: #fff;}
#details .dredge p{color: #F20A46;padding: 10px 0;font-size: 1.3rem;}
#details .qrcode{margin: 10px 0;padding: 5px;}
#details .qrcode .img{width: 120px;height: 120px;padding: 5px;background: #fff;}
#details .qrcode .img img{width: 100%;height:100%;}
#details .qrcode p{color:#333;font-size: 1.4rem;}
/********************************** 举报/报错1 **********************************************/
#report{background:#fff;}
#report .padd{padding-left:2rem;}
#report .title{background:#F5F5F5;color:#666;height:5rem;font-size:1.5rem;border-bottom:1px solid #ddd;}
#report .box{padding-left:2rem;border-bottom:1px solid #ddd;}
#report .listbox{color:#333;height:5rem;font-size:1.5rem;border-bottom:1px solid #ddd;padding-right:1rem;}
#report .listbox:last-child{border-bottom:none;}
#report .listbox i{font-size:2.5rem;color:#333;}
/********************************** 举报/报错2 **********************************************/
#text{background:#F5F5F5;}
#text .report-text-area {width: 94%;margin: auto;margin-top: 1.4rem;}
#text .report-text-area textarea {width: 100%;height: 9.9rem;background-color: #ebebeb;color: #333;padding: 0.5rem;border-radius: 0.2rem;font-size:1.5rem;}
#text .report-text-area button {width: 100%;height: 4rem;line-height: 4rem;text-align: center;background-color: #ec3b3b;color: #fff;border-radius: 0.8rem;font-size: 1.4rem;margin-top: 1.9rem; border: none;}
#text .text-input-wrap {font-size: 1.2rem;border: 1px solid #ddd;background-color: #ebebeb;}
#text .text-input-wrap .text-num-tip {padding-right: 0.5rem;padding-bottom: 0.5rem;text-align: right;color: #666;}
#text .tip-msg {position: absolute;top: 38%;width: 90%;margin-left: 5%;height: 4rem;line-height: 4rem;text-align: center;font-size: 1.4rem;background: rgba(0, 0, 0, .6);color: #fff;z-index: 9999;border-radius: 0.5rem;}
#text .tip-msg.active {display: block;}

/******************************** 基本信息 **********************************/
#basic .users{margin-top: 10px;padding: 0 10px;background: #fff;}
#basic .user .item{margin: 6px 0;display: flex;justify-content:space-between;position: relative;}
#basic .user .item span{height: 3rem; font-size: 1.4rem;color: #333;}
#basic .user .item .right{color:#6e6e6e;font-size: 1.4rem;}
#basic .user .portrait{border-bottom: 1px solid #e9e9e9;}
#basic .user .portrait span{width:5rem;height:5rem;}
#basic .user .portrait .right{width: 6rem;height: 5rem;}
#basic .user .portrait .right .userimg{width: 4rem;height:4rem;border-radius: 50%;overflow: hidden;}
#basic .user .item .fileElem{opacity: 0;padding-right: 0;}
#basic .user .item input{position:absolute;top:0;left:0;height:100%;width:100%;text-align: right;padding-right: 2rem;font-size: 1.4rem;}
#basic .user .right i{width: 2rem;height: 2rem;font-size: 2rem;}
#basic .user .name{border-bottom: 1px solid #e9e9e9;}
#basic .user .brand{border-bottom: 1px solid #e9e9e9;}
#basic .user .item.qrcode span{height:5rem;}
#basic .user .qrcode .userimg{width: 5rem;height:5rem;}
#basic .user .qrcode #qrcodeimg{opacity: 0;}
#basic a.clook{margin:1rem;color:#f6504d;display: inline-block;font-size: 1.4rem;}
#basic .user .button{margin: 24px 10px;}
#basic .user .button a{height: 4rem;background: -webkit-linear-gradient(#f95e48, #f7403c);color:#fdebea;border-radius: 6rem;font-size: 1.8rem;}
#basic .bottom{height:5rem;font-size: 1.2rem;}
#basic .user .userimg img{width:100%;height:100%;}
/*图片裁剪*/
#basic #conWrap{width:100%;height:100%;background:#DFDFDF;position:fixed;top:0;left:0;transform:translateY(100%);}
#basic #conWrap #picture{height:100%;background-color:#DFDFDF;position:relative;overflow:hidden;}
#basic #conWrap #bg{position:absolute;left:0;top:0;width:100%;height:100%;background-repeat:no-repeat;background-position:center;-webkit-background-size:contain;background-size:contain}
#basic #conWrap #mask{width:86vw;height:48vh;position:absolute;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);border:2px dashed #EFEFF4;box-shadow:0 0 0 1000px rgba(0,0,0,.5)}
#basic #conWrap #pictureUpload-help{clear:both;margin:0 auto}
#basic #conWrap #pictureUpload-help p{font-size:14px;color:#666;line-height:22px}
#basic #conWrap #select{background-color:#ccc}
#basic #conWrap #button{display:-moz-box;display:-webkit-box;margin-bottom:20px;width:100%;position:fixed;bottom:5px;left:0}
#basic #conWrap #button>div{-moz-box-flex:1;-webkit-box-flex:1;height:31px;line-height:31px;background-color:#ccc;color:#fff;font-size:14px;border-radius:2px;text-align:center;margin-right:10px}
#basic #conWrap #button>div:nth-child(4){margin-right:0}
#basic #conWrap #button>div.active{background-color:#FE8B2E}
#basic #conWrap #canvasWrap{text-align:center;margin-bottom:20px;display:none;}
#basic #conWrap #canvasWrap canvas{display:block;margin:0 auto 20px}

#article .unfold .unfoldbox{margin:1rem;padding:0.5rem 1rem;font-size: 1.4rem;border-radius:0.5rem;border:1.5px solid #eb6060;color:#eb6060;}

#article .user .userimg{width:4rem;height:4rem;border: 1px solid #f83c39; border-radius: 50%;overflow: hidden;position: absolute;top: -2rem;left: 50%;transform: translateX(-50%);z-index: 5;}


