body,html{margin:0;padding:0;border:0;color:#333;vertical-align:baseline;font-size:15px}
*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;font-family:"Microsoft Yahei","Helvetica Neue",Arial,Helvetica,sans-serif;word-break:break-all}
:focus{outline:0}
.fl{float:left}
.fr{float:right}
.getDateBg{position:fixed;top:0;left:0;z-index:100;width:100%;height:100%;background-color:rgba(0,0,0,.7);opacity:0;transition:opacity .4s}
.getDateBox{position:fixed;bottom:-270px;left:0;z-index:101;width:100%;background-color:#fff;box-shadow:-5px 0 5px rgba(0,0,0,.3);transition:bottom .4s}
.slideIn{display:block!important}
.slideIn .getDateBox{bottom:0;animation:slideIn .4s;-webkit-animation:slideIn .4s}
.slideOut .getDateBox{bottom:-400px;animation:slideOut .4s;-webkit-animation:slideOut .4s}
.slideIn .getDateBg{opacity:1}
.slideOut .getDateBg{opacity:0}
.getDateBox .choiceDateTitle{height:2.933rem;background-color:#f2f2f2}
.getDateBox .choiceDateTitle button{padding:0 1.333rem;height:100%;border:0;background:0 0;color:#00c599;font-size:1rem;-webkit-tap-highlight-color:rgba(0,0,0,.2)}
.getDateBox .dateContent{position:relative;overflow:hidden;margin:3rem 0;width:100%;height:120px}
.getDateBox .dateContent:before{position:absolute;top:0;left:0;z-index:10;width:100%;height:40px;background:-webkit-linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));content:"";pointer-events:none}
.getDateBox .dateContent:after{position:absolute;bottom:0;left:0;z-index:10;width:100%;height:40px;background:-webkit-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0));content:"";pointer-events:none}
.getDateBox .dateContent .checkeDate{position:absolute;top:40px;left:0;width:100%;height:40px}
.getDateBox .dateContent .checkeDate:after,.getDateBox .dateContent .checkeDate:before{position:absolute;top:0;left:0;width:100%;height:1px;background-color:#ccc;content:"";-webkit-transform:scaleY(.5);transform:scaleY(.5)}
.getDateBox .dateContent .checkeDate:after{top:auto;bottom:0}
#daywrapper,#monthwrapper,#yearwrapper{position:absolute;top:0;width:33.3%;height:100%}
#yearwrapper{left:0}
#daywrapper{right:0}
#monthwrapper{left:33.3%}
#yearwrapper ul{margin-left:40%}
#daywrapper ul{margin-right:40%}
#daywrapper ul li,#monthwrapper ul li,#yearwrapper ul li{height:40px;list-style:none;text-align:center;font-size:.933rem;line-height:40px}
@keyframes slideIn{0%{bottom:-270px}
    100%{bottom:0}
}
@-webkit-keyframes slideIn{0%{bottom:-270px}
    100%{bottom:0}
}
@keyframes slideOut{0%{bottom:0}
    100%{bottom:-270px}
}
@-webkit-keyframes slideOut{0%{bottom:0}
    100%{bottom:-270px}
}
